<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page for adding user</title>
</head>
<body>

<table style="width:300px" >
    <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
    <tr>
        <th><label for="name">Enter name: </label></th>
        <th><input type="text" th:field="*{name}" id="name" placeholder="name"></th>
    </tr>
    <tr>
        <th><label for="name">Enter password: </label></th>
        <th><input type="text" th:field="*{password}" id="password" placeholder="password"></th>
    </tr>
    <tr>
        <th></th>
        <th><input type="submit" value="Add new user"></th>
    </tr>
    </form>
</table>
<br/>
<a href="/users" >Back</a>
</body>
</html>